<script type="text/javascript" src="/plugin/zupfe/static/js/constants.js"></script>

<div id="zupfe-settings-content"
     data-bind="css: { 'offline' : !backend_connected() || !backend_initialized() || !api_key(), 'lost-octoid' : api_key_invalid() }">

    <div class="wizard-header">
        <img class="zupfe-logo" src="/plugin/zupfe/static/img/logo.svg"/>
        <h3>ZupFe For Octoprint</h3>
        <div class="message-offline alert alert-danger">ZupFe is currently unavailable</div>
    </div>

    <p><strong>ZupFe For Octoprint</strong>, the interactive online G-code
        viewer.</p>

    <div class="linked">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="green"
             id="check" class="success">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
            </path>
        </svg>
        <span>This printer is currently linked.</span>

        <div>
            <button class="btn btn-primary btn-complete"
                    id="settings-zupfe-btn-unlink"
                    data-bind="click: unlinkPrinter, attr: { disabled:  !backend_connected() || !backend_initialized() || !api_key() }">
                Unlink
            </button>
             <button class="btn btn-secondary btn-complete"
                    id="settings-zupfe-btn-reconnect"
                    data-bind="click: reconnect, attr: { disabled:  !backend_connected() || !backend_initialized() || !api_key() }">
                Force reconnection
            </button>
        </div>
    </div>

    <div class="unlinked">
        <form data-bind="attr: {action: urls()[URL_PRINTER_LINK] }" method="POST" target="_blank">
            <input type="hidden" name="apiKey" data-bind="attr: { value:  api_key() }"/>
            <input class="btn btn-primary btn-complete"
                   id="settings-zupfe-btn-complete"
                   data-bind="attr: { disabled:  !backend_connected() || !backend_initialized() }"
                   type="submit" value="Complete Your Setup Now!"/>
        </form>
    </div>

    <div class="printer-info">
        <span class="info-label">Plugin version</span>
        <span>{{ plugin_zupfe_octoprint_zupfe_version }}</span>

        <span class="info-label">Printer id</span>
        <span>{{ plugin_zupfe_octo_id }}</span>

        <span class="info-label">Frontend <sup>*</sup></span>
        <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.zupfe.frontend_url">

        <span class="info-label">Backend <sup>*</sup></span>
        <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.zupfe.backend_url">
    </div>

    <div class="note">* You need to restart OctoPrint to make these changes effective.</div>

    <div class="lost-octoid-message">
        This printer is no longer found in our system.
        We apologize for the inconvenience, please re-link it.
    </div>

</div>

